* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

@font-face {
  font-family: Satoshi;
  src: url(./assets/fonts/Satoshi-Regular.otf);
}
@font-face {
  font-family: Satoshi-Bold;
  src: url(./assets/fonts/Satoshi-Bold.otf);
}

@font-face {
  font-family: Satoshi-Black;
  src: url(./assets/fonts/Satoshi-Black.otf);
}
@font-face {
  font-family: SF Pro Display;

  src: url(./assets/fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: SF Pro Text;

  src: url(./assets/fonts/SF-PRO-ROUNDED-REGULAR.OTF);
}

@font-face {
  font-family: GILROY-BOLD;
  src: url(./assets/fonts/GILROY-BOLD.TTF);
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.no-scrollbar::-webkit-scrollbar{
  display: none;
}

#app {
  height: 100%;
  width: 100%;
}


.outfit-responsive-img{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}