.storage {
  width: 93%;
  margin: 0 auto;
  padding: 1.5rem;
  height: 41.75rem;
  border-radius: 0.3125rem;
  border: 2px solid rgba(255, 255, 255, 0.04);
  margin-top: 2rem;

  background: radial-gradient(
      84.73% 84.73% at 50% 50%,
      rgba(0, 0, 0, 0.72) 0%,
      rgba(0, 0, 0, 0.72) 100%
    ),
    rgba(217, 217, 217, 0.05);

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.storage .storage-header h1 {
  color: #fff;
  color: color(display-p3 1 1 1);
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.storage .storage-header input {
  appearance: none;
  border: none;
  outline: none;
  width: 23.5rem;
  height: 2rem;
  background: rgba(217, 217, 217, 0.07);

  border-radius: 0.3125rem;
  opacity: 0.4;
  color: rgba(255, 255, 255, 0.46);
  color: color(display-p3 1 1 1 / 0.46);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 0.4rem;
}

.storage .storage-button {
  display: flex;
  width: 6.4375rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  color: color(display-p3 1 1 1);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.4;
  border-radius: 0.3125rem;
  background: rgba(217, 217, 217, 0.07);
  transition: all 0.2s ease;
  cursor: pointer;
}

.storage .storage-button.active {
  opacity: 1;
}

.storage .items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.75rem;
  column-gap: 0.75rem;
  overflow: auto;
}

.storage .items .item {
  width: 9rem;
  position: relative;
  height: 9.375rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.07);
  background: rgba(217, 217, 217, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
}
.storage .items .item .item-img{
  width: 5rem;
  height: 5rem;
}
 
.storage .items .item .item-label {
  height: 1.5625rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(53, 51, 52, 0.31);
  backdrop-filter: blur(8.550000190734863px);
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  color: color(display-p3 1 1 1);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.storage .items .item .item-amount {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: #fff;
  color: color(display-p3 1 1 1);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
