<div class="orders">
  <div class="orders-container">
    <div class="flex justify-between items-center">
      <div class="order-buttons">
        <div @click="setActiveOrdersPage('binco')" :class="{active : activeOrdersPage == 'binco'}" class="order-button">
          Binco
        </div>
        <div @click="setActiveOrdersPage('suburban')" :class="{active : activeOrdersPage == 'suburban'}"
          class="order-button">
          Suburban
        </div>
        <div @click="setActiveOrdersPage('ponsonbys')" :class="{active : activeOrdersPage == 'ponsonbys'}"
          class="order-button">
          Ponsonbys
        </div>
      </div>
      <p class="order-value">{{getOrders.length}} {{locales.order}}</p>
    </div>
    <img class="mx-auto my-3 w-full" src="./assets/images/laptop/line-2.png" />
    <div class="w-full h-[80%] overflow-auto no-scrollbar">
      <div class="flex flex-wrap gap-x-4 gap-y-4">
        <div v-for="i in getOrders" class="card" :class="{[activeOrdersPage]:true}">
          <img class="outfit-responsive-img" :src="'./assets/images/laptop/'+i.name+'.png'" />
          <div class="flex flex-col gap-y-3">
            <div class="flex items-center gap-x-2">
              <img src="./assets/images/laptop/tshirt_icon.png" />
              <p class="card-text">{{i.label}}</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img src="./assets/images/laptop/amount_icon.png" />
              <p class="card-text">{{i.amount}} {{locales.amount}}</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img src="./assets/images/laptop/offer_icon.png" />
              <p class="card-text">$ {{i.offer}} {{locales.offer}}</p>
            </div>
            <div @click="TakeOrder(i)" class="take-order-btn">
              {{locales.take_order}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="myorders-container">
    <div class="flex items-center justify-between">
      <h1 class="myorders-title">{{locales.my_orders}}</h1>
      <h1 class="myorders-awaiting-text">
        {{getActiveOrders.length}} {{locales.awaiting}}
      </h1>
    </div>
    <img class="mx-auto w-full h-auto object-cover" src="./assets/images/laptop/line-2.png" />
    <div class="w-full h-[90%] overflow-auto no-scrollbar">
      <div class="flex w-full h-full flex-col gap-y-3">
        <div class="card" :class="{[data.type]:true}" v-for="data in getActiveOrders">
          <img class="outfit-responsive-img" :src="'./assets/images/laptop/'+data.name+'.png'" />
          <div class="flex flex-col gap-y-3">
            <div class="flex items-center gap-x-2">
              <img src="./assets/images/laptop/tshirt_icon.png" />
              <p class="card-text">{{data.label}}</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img src="./assets/images/laptop/amount_icon.png" />
              <p class="card-text">{{data.amount}}x {{locales.amount}}</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img src="./assets/images/laptop/offer_icon.png" />
              <p class="card-text">$ {{data.offer}} {{locales.offer}}</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img src="./assets/images/laptop/date_icon.png" />
              <p class="card-text">{{SecondsToDate(data.time)}}</p>
            </div>
            <div @click="shipOrder(data)" class="ship-order-btn">
              {{locales.ship_order}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>