.start-left-panel {
  width: 25%;
  height: 100%;
  background-image: url(../../assets/images/start/leftpanel.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 5.5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
}

.start-left-panel .tutorial {
  position: absolute;
  right: 2rem;
  width: 70%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../../assets/images/start/tutorial-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.start-left-panel .tutorial .tutorial-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}

.start-left-panel .tutorial .tutorial-header {
  color: rgba(0, 0, 0, 0.55);
  color: color(display-p3 0 0 0 / 0.55);
  leading-trim: both;
  text-edge: cap;
  padding-left: 3rem;
  font-family: Satoshi-Black;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.start-left-panel .tutorial .close-tutorial {
  position: absolute;
  right: 3rem;
  top: 2rem;
  cursor: pointer;
}

.start-left-panel .step {
  width: 16.5rem;
  height: 50.625rem;
  background-image: url(../../assets/images/start/step.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.start-left-panel .step p {
  color: rgba(0, 0, 0, 0.55);
  color: color(display-p3 0 0 0 / 0.55);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi-Black;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.start-left-panel .step-header {
  color: rgba(0, 0, 0, 0.55);
  color: color(display-p3 0 0 0 / 0.55);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi-Black;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.start-left-panel .workers-tutorial {
  width: 10.5625rem;
  height: 50.625rem;
  background-image: url(../../assets/images/start/workers-tutorial.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 2rem 0;
}
.start-left-panel .workers-tutorial h1 {
  color: rgba(0, 0, 0, 0.55);
  color: color(display-p3 0 0 0 / 0.55);
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  font-family: Satoshi-Black;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.start-left-panel .got-it-button {
  width: 13.25rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/images/start/Button.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.55);
  color: color(display-p3 0 0 0 / 0.55);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi-Black;
  font-size: 1.09344rem;
  cursor: pointer;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.start-left-panel .job-name-header {
  color: rgba(0, 0, 0, 0.55);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi-Black;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-left: 1.5rem;

  width: 70%;
}

.start-left-panel .welcome-title {
  color: rgba(0, 0, 0, 0.55);
  color: color(display-p3 0 0 0 / 0.55);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi-Black;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-left: 1.5rem;
}

.start-left-panel .video-container {
  width: 90%;
  height: 18.5rem;

  margin: 0 auto;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1.25rem 1rem;
}
.start-left-panel .video-container video {
  width: 100%;
  height: 18.5rem;
}

.start-left-panel .tailorshop-title {
  color: rgba(0, 0, 0, 0.55);
  color: color(display-p3 0 0 0 / 0.55);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi-Black;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.start-left-panel .produce-text {
  color: rgba(0, 0, 0, 0.55);
  color: color(display-p3 0 0 0 / 0.55);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi-Black;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.start-left-panel .video-text {
  position: absolute;
  left: 50%;
  top: 50%;
  color: rgba(0, 0, 0, 0.16);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi-Black;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  transform: translate(-50%, -50%);
}

.start-left-panel .tailorshop-desc {
  color: rgba(0, 0, 0, 0.55);
  color: color(display-p3 0 0 0 / 0.55);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi-Bold;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 85%;
  margin: 0 auto;
}

.start-left-panel .tutorial-button {
  background-image: url(../../assets/images/start/tutorial-btn.png);
  width: 16.4015rem;
  height: 2.55131rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.55);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi-Black;
  font-size: 1.09344rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.start-left-panel .start-button {
  background-image: url(../../assets/images/start/start-btn.png);
  width: 22.03469rem;
  height: 2.96613rem;
  margin: 0 auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.55);
  color: color(display-p3 0 0 0 / 0.55);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
