<div class="overview p-12 flex items-center gap-x-3">
  <div class="active-orders">
    <h1 class="active-orders-title">{{locales.active_orders}}</h1>
    <div class="w-full h-[95%] overflow-auto no-scrollbar">
      <div class="flex flex-col gap-y-3">
        <div class="card" :class="{[i.type]:true}" v-for="i in getActiveOrders">
          <img
            src="./assets/images/laptop/cancel-icon.png"
            @click="CancelActiveOrder(i)"
            class="star cursor-pointer"
          />
          <img
            class="outfit-responsive-img"
            :src="'./assets/images/laptop/'+i?.name+'.png'"
          />
          <div class="flex flex-col gap-y-3">
            <div class="flex items-center gap-x-2">
              <img src="./assets/images/laptop/tshirt_icon.png" />
              <p class="card-text">{{i?.label}}</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img src="./assets/images/laptop/amount_icon.png" />
              <p class="card-text">{{i?.amount}}x {{locales.amount}}</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img src="./assets/images/laptop/offer_icon.png" />
              <p class="card-text">$ {{i?.offer}} {{locales.offer}}</p>
            </div>
            <div class="flex items-center gap-x-2">
              <img src="./assets/images/laptop/date_icon.png" />
              <p class="card-text">{{SecondsToDate(i?.time)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="current-status">
    <h1 class="current-status-title">{{locales.current_work_status}}</h1>
    <div class="current-status-container">
      <div v-for="i in jobData.activeJobs" v-show="i?.worker?.name" class="card">
        <div class="flex justify-between">
          <div class="flex items-center gap-x-2">
            <img :src="'./assets/images/laptop/'+i?.worker?.image" />
            <div class="flex flex-col gap-y-2">
              <p class="worker-name">{{i?.worker?.name}}</p>
              <p class="worker-prof">{{i?.worker?.proffesion_label}}</p>
            </div>
          </div>
          <div class="flex flex-col justify-center gap-y-2">
            <p class="worker-salary-value">${{i?.worker?.salary}}</p>
            <p class="worker-salary-text">{{locales.salary}}</p>
          </div>
        </div>
        <h1 class="work-text">{{locales.on_work}}</h1>
        <p class="work-desc" v-html="locales.producing.format(i.item)"></p>
        <!-- <div class="stop-button">
                    Stop Job
                </div> -->
      </div>
    </div>
  </div>
</div>
