.laptop .overview {
  margin-top: 2rem;
  width: 84.6875rem;
  height: 41.75rem;
  border-radius: 0.3125rem;
  border: 2px solid rgba(255, 255, 255, 0.04);
  border: 2px solid color(display-p3 1 1 1 / 0.04);
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.49) 0%,
      rgba(0, 0, 0, 0.49) 100%
    ),
    radial-gradient(
      84.73% 84.73% at 50% 50%,
      rgba(0, 0, 0, 0.72) 0%,
      rgba(0, 0, 0, 0.72) 100%
    ),
    rgba(217, 217, 217, 0.05);
  background: linear-gradient(
      0deg,
      color(display-p3 0 0 0 / 0.49) 0%,
      color(display-p3 0 0 0 / 0.49) 100%
    ),
    radial-gradient(
      84.73% 84.73% at 50% 50%,
      color(display-p3 0 0 0 / 0) 0%,
      color(display-p3 0 0 0 / 0.72) 100%
    ),
    color(display-p3 0.851 0.851 0.851 / 0.05);
}

.laptop .overview .active-orders {
  flex: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.laptop .overview .current-status {
  flex: 8;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.laptop .overview .active-orders-title {
  color: #fff;
  color: color(display-p3 1 1 1);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.laptop .overview .active-orders .card {
  width: 18.75rem;
  height: 11.375rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 2rem;
  column-gap: 1.5rem;
}

.laptop .overview .active-orders .card.binco {
  background-image: url(../../../../assets/images/laptop/binco_card.png);
}

.laptop .overview .active-orders .card.suburban {
  background-image: url(../../../../assets/images/laptop/suburban_card.png);
}
.laptop .overview .active-orders .card.ponsonbys {
  background-image: url(../../../../assets/images/laptop/ponsonbys_card.png);
}

.laptop .overview .active-orders .card .star {
  position: absolute;
  right: 1rem;
  top: 0.75rem;
}

.laptop .overview .active-orders .card .card-text {
  color: #fff;
  color: color(display-p3 1 1 1);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.laptop .overview .current-status .current-status-title {
  color: #fff;
  color: color(display-p3 1 1 1);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.laptop .overview .current-status .current-status-container {
  width: 100%;
  flex: 1;
  border-radius: 0.625rem;
  border: 2px solid rgba(255, 255, 255, 0.04);
  background: rgba(217, 217, 217, 0.13);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
}

.laptop .overview .current-status .current-status-container .card {
  width: 30.5%;
  height: 13.4375rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.26);
  background: rgba(0, 0, 0, 0.66);
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  position: relative;
}
.laptop .overview .current-status .current-status-container .card .worker-name {
  color: #fff;
  color: color(display-p3 1 1 1);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.laptop .overview .current-status .current-status-container .card .worker-prof {
  color: rgba(255, 255, 255, 0.4);
  color: color(display-p3 1 1 1 / 0.4);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.laptop
  .overview
  .current-status
  .current-status-container
  .card
  .worker-salary-value {
  color: #fff;
  color: color(display-p3 1 1 1);
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.laptop
  .overview
  .current-status
  .current-status-container
  .card
  .worker-salary-text {
  color: rgba(255, 255, 255, 0.4);
  color: color(display-p3 1 1 1 / 0.4);
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.laptop .overview .current-status .current-status-container .card .work-text {
  color: #fff;
  color: color(display-p3 1 1 1);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.laptop .overview .current-status .current-status-container .card .work-desc {
  color: rgba(255, 255, 255, 0.4);
  color: color(display-p3 1 1 1 / 0.4);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.laptop
  .overview
  .current-status
  .current-status-container
  .card
  .work-desc
  span {
  color: color(display-p3 1 1 1);
}

.laptop .overview .current-status .current-status-container .card .stop-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: .75rem;
  height: 1.75rem;
  width: 75%;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: #ffccd7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  color: color(display-p3 0 0 0);
  leading-trim: both;
  text-edge: cap;
  font-family: Satoshi;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  line-height: normal;
}
