<div class="business">
  <div class="business-information">
    <h1 class="business-information-text">{{locales.business_information}}</h1>
    <div class="level-container">
      <div
        class="relative flex flex-col items-center justify-center gap-y-2 left-2 top-8"
      >
        <img src="./assets/images/laptop/Subtract.png" />
        <p class="level-text">{{locales.level}}</p>
        <p class="level-text">{{jobData.level}}</p>
      </div>
    </div>
    <div class="xp-container">
      <div class="xp-inner" :style="{width : getPercentage+'%'}"></div>
    </div>
    <p class="xp-text">{{jobData.xp}}/{{xp[jobData.level-1]}}<br />EXP</p>
    <p class="total-vault-amount-text">{{locales.vault_amount}}</p>
    <div class="total-vault-amount-btn">${{jobData.vault}}</div>
    <input v-model="amount" type="text" class="money-input" placeholder="Amount"/>
    <div @click="Deposit" class="deposit-btn">{{locales.deposit}}</div>
    <div @click="Withdraw" class="withdraw-btn">{{locales.withdraw_money}}</div>
  </div>
  <div class="business-log">
    <div class="flex items-center justify-between">
      <p class="business-log-text">{{locales.business_log}}</p>
      <input v-model="filteredLogs" type="text" :placeholder="locales.search_log" />
    </div>
    <div class="business-log-list no-scrollbar">
      <div v-for="i in getFilteredLogs" class="business-log-list-item">
        <div class="flex flex-col gap-y-2">
          <h1 class="log-title">{{i.header}}</h1>
        </div>
        <div class="flex flex-col gap-y-2">
          <h1 class="log-date">{{SecondsToDate(i.date)}}</h1>
          <p class="log-earn">{{i.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="business-settings">
    <div class="flex items-center gap-x-4">
      <img src="./assets/images/laptop/tailor-logo-med.png" />
      <p class="business-name">{{jobData.name}}</p>
    </div>
    <p class="change-business-name-text my-3">{{locales.change_business_name}}</p>
    <input v-model="newname" type="text" class="name-input" />
    <img class="my-2" src="./assets/images/laptop/line-2.png" />
    <div  class="logo-container">
      <template v-if="jobData.logo =='default'">
        <img src="./assets/images/laptop/no-logo.png" />
        <p class="no-logo-text">{{locales.no_logo}}</p>
      </template>
      <template v-else>
        <img style="width: 100%; height: 100%; object-fit: cover;" :src="jobData.logo" />
      </template>
    </div>
    <p class="by-link">{{locales.by_link}}</p>
    <input class="insert-image-input" v-model="jobData.logo" :placeholder="locales.insert_image" />
    <p class="upload-desc">
      {{locales.recommended_size}}
    </p>
    <img class="my-2" src="./assets/images/laptop/line-2.png" />
    <!-- <p class="transfer-text">Transfer Business To Player</p>
    <input class="transfer-input" placeholder="Player ID" /> -->
    <div @click="Save" class="upload-button">{{locales.save}}</div>
  </div>
</div>
